<!-- Home Section -->
<h1 class="page-title">
    <div class="page-title__text">{{ utilitiesInformation?.page_utilities_title }}</div>
    <div class="page-title__subtitle">{{ utilitiesInformation?.page_utilities_subtitle }}</div>
</h1>
<!-- GIthub contribution Section -->
<div class="contributation-margin">
    <div class="card-container">
        <div class="card">
            <h3>UUID Generator</h3>
            <p>Generate random UUIDs. Useful for creating unique identifiers for various applications such as database
                keys, session IDs, and more.</p>
            <button (click)="navigateTo('utilities/uuid-generator')">Try It</button>
        </div>
    </div>
</div>
<app-about></app-about>