<!-- Home Section -->
<h3 class="page-title">
    <div class="page-title__text">{{ utilitiesInformation?.page_guid_generator_title }}</div>
    <div class="page-title__subtitle">{{ utilitiesInformation?.page_utilities_subtitle }}</div>
</h3>
<div class="contributation-margin">
    <div class="card-container">
        <div class="card">
            <h3>UUID Generator</h3>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <div class="input-with-icon">
                        <input matInput readonly [value]="uuidValue" />
                        <button class="copy-icon" (click)="copyToClipboard()" aria-label="Copy">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </div>
                </mat-form-field>
            </form>
            <div class="buttons-container">
                <button matRipple mat-raised-button class="left-button"
                    (click)="copyToClipboard()">{{copyButtonName}}</button>
                <button matRipple mat-raised-button class="right-button" (click)="generateNewID()">Generate New
                    UUID</button>
            </div>
        </div>
    </div>
</div>
<app-about></app-about>