<h3 class="page-title">
    <div class="page-title__text">{{ utilitiesInformation?.page_utilities_title }}</div>
    <div class="page-title__subtitle">{{ utilitiesInformation?.page_utilities_subtitle }}</div>
</h3>
<div class="contributation-margin">
    <div class="card-container">
        <div class="card">
            <h3>Hash Generator</h3>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <div class="input-with-icon">
                        <textarea matInput [(ngModel)]="inputValue" name="inputValue"
                            placeholder="Please enter your text"></textarea>
                    </div>
                </mat-form-field>
            </form>
            <div class="form-container">
                <mat-form-field>
                    <mat-label>Select Algorithem</mat-label>
                    <mat-select [(value)]="selectedAlgo">
                        <mat-option *ngFor="let b of algorithem" [value]="b">{{ b.toUpperCase() }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Select Encoding Output</mat-label>
                    <mat-select [(value)]="selectedOutput">
                        <mat-option *ngFor="let a of output_encoading" [value]="a">{{ a }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <form class="example-form" *ngIf="isSecretKeyRequired()">
                <mat-form-field class="example-full-width">
                    <div class="input-with-icon">
                        <input matInput [(ngModel)]="secretKey" name="secretKey" placeholder="Secret Key (Optional)" />
                    </div>
                </mat-form-field>
            </form>

            <div class="buttons-container">
                <button matRipple mat-raised-button class="left-button"
                    (click)="GenerateHashBtn()">{{ButtonName}}</button>
            </div>
            <p></p>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <div class="input-with-icon">
                        <textarea matInput readonly [value]="encoded_output_value" placeholder="Generated Encoded Output"></textarea>
                    </div>
                </mat-form-field>
            </form>
            <div class="buttons-container">
                <button matRipple mat-raised-button class="left-button"
                    (click)="copyToClipboard()">{{copyButtonName}}</button>
            </div>
        </div>
    </div>
</div>
<app-about></app-about>