<!-- Home Section -->
<h1 class="page-title">
    <div class="page-title__text">{{ projectBasicInformation?.page_title }}</div>
    <div class="page-title__subtitle">{{ projectBasicInformation?.page_subTitle }}</div>
</h1>
<!-- Project portfolio Section -->
<div>
    <h1 class="page-title">
        <div class="page-title__text">{{ projectBasicInformation?.page_Other_title }}</div>
        <div class="page-title__subtitle">{{ projectBasicInformation?.page_Other_subtitle }}</div>
    </h1>
    <app-portfolio></app-portfolio>
</div>
<!-- GIthub contribution Section -->
<div class="contributation-margin">
    <app-contributions></app-contributions>
</div>
<!-- About Section -->
<app-about></app-about>