<!-- Home Section -->
<h1 class="page-title">
    <div class="page-title__text">{{ utilitiesInformation?.page_utilities_title }}</div>
    <div class="page-title__subtitle">{{ utilitiesInformation?.page_utilities_subtitle }}</div>
</h1>
<!-- GIthub contribution Section -->
<div class="contributation-margin">
    <div class="card-container" *ngFor="let toolInformation of utilitiesInformation.uitilitiesToolsInformation">
        <div class="card">
            <h3>{{toolInformation.utilities_title}}</h3>
            <p>{{toolInformation.utilities_description}}</p>
            <button
                (click)="navigateTo(toolInformation.utilities_url)">{{toolInformation.utilities_buttonName}}</button>
        </div>
    </div>
</div>
<app-about></app-about>