<h1 class="page-title">
    <div class="page-title__text">{{ resumeBasicInformation?.page_title }}</div>
    <div class="page-title__subtitle">{{ resumeBasicInformation?.page_subTitle }}</div>
</h1>

<p>
    <span class="donwload-position">
        <i class="fa-solid fa-download" (click)="onDonwloadResumeClick()"
            matTooltip={{resumeBasicInformation?.donwloadResume}}></i>
    </span>
    <br>
</p>

<div class="resume-details-position">
    <h3 id="skills">{{resumeBasicInformation?.workExperience}} </h3>
    <p>
        <span class="language-plaintext highlighter-rouge">
            <a>
                {{resumeBasicInformation?.currentCompany.companyName}}
            </a>
        </span>
        <span class="language-plaintext highlighter-rouge right-position">
            {{resumeBasicInformation?.currentCompany.location}}
        </span>
        <br>
        <span>
            {{resumeBasicInformation?.currentCompany.workInformation}}
        </span>
    </p>
    <h4 id="skills">Previous Experience </h4>
    <span class="language-plaintext highlighter-rouge">
        <a>
            Sutherland Healthcare Services Pvt. Ltd.
        </a>
    </span>
    <span class="language-plaintext highlighter-rouge right-position">
        Bengaluru, India
    </span>
    <br>
    <span class="language-plaintext highlighter-rouge">
        <a>
            GeoOpsis Software Services - (AEVEX Aerospace USA)
        </a>
    </span>
    <span class="language-plaintext highlighter-rouge right-position">
        Bengaluru, India
    </span>
    <br>
    <span class="language-plaintext highlighter-rouge">
        <a>
            BOP Philips Manipal
        </a>
    </span>
    <span class="language-plaintext highlighter-rouge right-position">
        Manipal, India
    </span>

    <h3 id="skills">Skills </h3>
    <p>
        <span class="language-plaintext highlighter-rouge">
            <div class='division'>
                <h5>Programming Language / Databases</h5>

                <ul>
                    <li>C# (.NET Core)</li>
                    <li>Angular</li>
                    <li>JavaScript</li>
                    <li>NodeJS</li>
                    <li>TypeScript</li>
                    <li>WPF</li>
                    <li>MSSQL</li>
                    <li>PostGreSQL</li>
                </ul>
            </div>
            <div class='division'>
                <h5> GIS Packages / API Development</h5>
                <ul>
                    <li>Azure DevOps</li>
                    <li>Luciad Developer</li>
                    <li>Open Layer</li>
                    <li>Google Maps</li>
                    <li>Cesium JS</li>
                    <li>Git</li>
                    <li>Visual Studio</li>
                    <li>Rest API Development</li>
                </ul>
            </div>
        </span>
    </p>
</div>