.donwload-position {
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

.right-position {
    float: right;
    margin-right: 10px;
}

.resume-details-position {
    margin-left: 10px;
}

a:link,
a:visited {
    text-decoration: none;
}