<h1 class="page-title">
    <div class="page-title__text">{{ resumeBasicInformation?.page_title }}</div>
    <div class="page-title__subtitle">{{ resumeBasicInformation?.page_subTitle }}</div>
</h1>

<p>
    <span class="donwload-position">
        <i class="fa-solid fa-download" (click)="onDonwloadResumeClick()"
            matTooltip={{resumeBasicInformation?.donwloadResume}}></i>
    </span>
    <br>
</p>

<div class="resume-details-position">
    <h3 id="skills">{{resumeBasicInformation?.workExperience}} </h3>
    <p *ngFor="let position of resumeBasicInformation?.currentCompany">
        <span class="language-plaintext highlighter-rouge">
            <a>
                {{position?.companyName}}
            </a>
        </span>
        <span class="language-plaintext highlighter-rouge right-position">
            {{position?.location}}
        </span>
        <br>
        <span class="selector">
            {{position?.workInformation}}
        </span>
    </p>

    <h3 id="skills">{{resumeBasicInformation?.skills}}</h3>
    <p>
        <span class="language-plaintext highlighter-rouge">
            <div class='division'>
                <h5>{{resumeBasicInformation?.programmingSkills}}</h5>
                <ul *ngFor="let devSkill of resumeBasicInformation?.devSkillsName">
                    <li>{{devSkill.skillName}}</li>
                </ul>
            </div>
            <div class='division'>
                <h5>{{resumeBasicInformation?.gisSkills}}</h5>
                <ul *ngFor="let gisSkill of resumeBasicInformation?.gisSkillsName">
                    <li>{{gisSkill.skillName}}</li>
                </ul>
            </div>
        </span>
    </p>

    <h3 id="project">{{resumeBasicInformation?.project}} </h3>
    <p *ngFor="let project of resumeBasicInformation?.projectDetails">
        <span class="language-plaintext highlighter-rouge">
            <a>
                {{project?.projectName}}
            </a>
        </span>
        <span class="language-plaintext highlighter-rouge right-position">
           Client - {{project?.client_name}}
        </span>
        <br>
        <span class="language-plaintext highlighter-rouge">
            {{project?.tech_Used}}
        </span>
        <br>
        <span class="selector">
            {{project?.project_Description}}
        </span>
    </p>
</div>