<!-- Home Section -->
<h3 class="page-title">
    <div class="page-title__text">{{ utilitiesInformation?.page_utilities_title }}</div>
    <div class="page-title__subtitle">{{ utilitiesInformation?.page_utilities_subtitle }}</div>
</h3>
<div class="contributation-margin">
    <div class="card-container">
        <div class="card">
            <h3>JSON to YAML Converter</h3>

            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <div class="input-with-icon">
                        <textarea matInput [(ngModel)]="inputValueJson" name="inputValue"
                            placeholder="Please enter your json" style="height: 220px;"></textarea>
                    </div>
                </mat-form-field>
            </form>
            <div class="buttons-container">
                <button matRipple mat-raised-button class="left-button" (click)="jsToYaml()">{{ButtonName}}</button>
            </div>
            <p></p>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <div class="input-with-icon">
                        <textarea matInput readonly [(ngModel)]="outputValueYAML" name="outputValue" style="height: 220px;"></textarea>
                    </div>
                </mat-form-field>
            </form>
            <div class="buttons-container">
                <button matRipple mat-raised-button class="left-button"
                    (click)="copyToClipboard()">{{copyButtonName}}</button>
            </div>
        </div>
    </div>
</div>
<app-about></app-about>